<%= javascript_include_tag 'validation' %>

<h1>New feed</h1>

<script type="text/javascript">
function verifyFeedURL(s) {
  alert(s );
  if (! isUrl(s) ) {
    alert('Feed URL is invalid.');
    return false;
  }
  else
    return true;
}
</script>

<% form_for(@feed) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :interval %><br />
    <%= f.text_field :interval %>
  </p>
  <p>
    <%= f.submit 'Create', :onClick => 'return verifyFeedURL( feed_url.value );' %>
  </p>
<% end %>

<%= link_to 'Back', feeds_path %>
