<p>
  <b>Description:</b>
  <%=h @feed.description %>
</p>

<p>
  <b>Url:</b>
  <%=h @feed.url %>
</p>

<p>
  <b>Interval:</b>
  <%=h @feed.interval %>
</p>

<p>
  <b>Local cache file:</b>
  <%=h @feed.cache_file %>
</p>

<p>
  <b>Last Update:</b>
  <%=h @feed.published %>
</p>


<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
