<html>
<title>Semantix</title>
<body>
<h1>Semantix</h1>
<p>An experiment in data-mining and the semantic web.</p>

<p><%= link_to "Experiments with links", links_path %></p>
<p><%= link_to "Available Feeds", feeds_path %></p>
<p><%= link_to "Search through the stories", stories_path %></p>
<p><%= link_to "Local blog application", blogs_path %></p>
<p><%= link_to "Semantic blog application", semanticblog_path %></p>
</body>
</html>
