<html>
<title>Semantix</title>
<body>
<h1>Semantix</h1>
<p>An experiment in data-mining and the semantic web.</p>
<p>The following experiments are currently available (although none are guaranteed to work):</p>

<table>
  <tr><td><b>Experiment</b></td><td><b>Description</b></td><td><b>Status</b></td>
  <tr>
    <td>
      <p><%= link_to "Experiments with links", links_path %></p>
    </td>
    <td>
    Provides a way of scraping links and working out whats there.
    </td>
    <td>
      very simple
    </td>
  </tr>
  <tr>
<td>
<p><%= link_to "Available Feeds", feeds_path %></p>
</td>
<td>
A simple RSS feed adding mechanism. Purely for data acquisition purposes.
</td>
<td>
very simple
</td>
</tr>
<tr>
<td>
<p><%= link_to "Search through the stories", stories_path %></p>
</td>
<td>
Provides a way of searching through the stories ingested through the RSS feeds.
</td>
<td>
paused
</td>
</tr>
</tr>
<tr>
<td>
<p><%= link_to "Local blog application", blogs_path %></p>
</td>
<td>
A basic blog application. Essentially a copy of my <a href="http://the-most-boring-blog-in-the-west.blogspot.com">online blog</a> that is being used as a data source.
</td>
<td>
in-progress
</td>
</tr>
<tr>
<td>
<p><%= link_to "Semantic blog application", semanticblogs_path %></p>
</td>
<td>
Takes blog entries and tries to mine the semantic information that might be held within.
</td>
<td>
in-progress
</td>
</tr>
<tr>
<td><p><%= link_to "Calais helper service", calaisservices_path %></p></td>
<td>Experimental calais query helper service.</td>
<td>experimental</td>
</tr>
<tr>
<td><p><%= link_to "Twitteration", twitteration_path %></p></td>
<td>Experiments with twitter data.</td>
<td>experimental</td>
</tr>
</table>
</body>
</html>
