<h1>Editing twitter_trend_head</h1>

<% form_for(@twitter_trend_head) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :as_of %><br />
    <%= f.datetime_select :as_of %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @twitter_trend_head %> |
<%= link_to 'Back', twitter_trend_heads_path %>