<h1>Listing twitter_trend_heads</h1>

<table>
  <tr>
    <th>As of</th>
  </tr>

<% @twitter_trend_heads.each do |twitter_trend_head| %>
  <tr>
    <td><%=h twitter_trend_head.as_of %></td>
    <td><%= link_to 'Show', twitter_trend_head %></td>
    <td><%= link_to 'Edit', edit_twitter_trend_head_path(twitter_trend_head) %></td>
    <td><%= link_to 'Destroy', twitter_trend_head, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New twitter_trend_head', new_twitter_trend_head_path %>