<h1>Editing links</h1>

<% form_for(@links) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :processed %><br />
    <%= f.check_box :processed %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @links %> |
<%= link_to 'Back', links_path %>
