<h1>New twitter_trend</h1>

<% form_for(@twitter_trend) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :head %><br />
    <%= f.text_field :head %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', twitter_trends_path %>