<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/twitterations.css" />

<%= javascript_include_tag 'core-utils' %>
<%= javascript_include_tag 'twitter-utils' %>
<%= javascript_include_tag 'topix-utils' %>
<%= javascript_include_tag 'flickr-utils' %>
<%= javascript_include_tag 'tagcloud-utils' %>

<%= javascript_include_tag 'prototype' %>
 
<script type="text/javascript">

function doQueries(keywords) {
  queryTopix(keywords);
  queryFlickr(keywords);

  return true;
}

 
Event.observe(window, 'load', function() {
  showStatus("Querying twitter...");
  queryTwitter();
});
 
</script>
<h1>Current Twitter Trends</h1>
<div id="twittertrends" class="twittertrends"></div>
<div id="tagcloud" class="tagcloud"></div>
<div id="topix" class="topix"></div>
<div id="flickr" class="flickr"></div>

<p><div id="status" class="status"></div></p>
